# Include Global Configurations
include:
  - project: 'api-server/gitlab-ci-scripts'
    ref: v1.3
    file: '.global-configuration.yml'

image: docker.eu.targomo.com/docker/general-image/service/psql9.6:0.0.4

stages:
  - build
  - test
  - deploy

build:
   stage: build
   script:
     - cat /builds/targomo/github/targomo-java/.mvn/settings.xml
     - mvn --settings settings.xml clean compile
   only:
     - /^feature.*$/
     - develop

sonarqube:
   stage: test
   script:
     - mvn verify sonar:sonar
     - cat target/site/jacoco-ut/index.html
   only:
     - /^feature.*$/
     - develop

deploy_maven:
  stage: deploy
  script:
    - mvn -DperformRelease=true deploy
  artifacts:
    name: "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
    paths:
      - target/*.jar
  when: manual
  only:
    - master

deploy_nexus:
  stage: deploy
  script:
    - mvn -Dmaven.test.skip=true deploy
  artifacts:
    name: "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
    paths:
      - target/*.jar
  when: manual
  only:
    - /^feature.*$/
    - /^release.*$/
    - develop
