image: code.route360.net:4567/docker/general-image/service/psql9.6:0.0.4

cache:
  key: "mvn"
  paths:
    - .m2

services:
  - docker:dind

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2"

stages:
  - build
  - test
  - deploy

build:
   stage: build
   script:
     - mvn --settings .ci/settings.xml clean compile
   only:
     - /^feature.*$/
     - develop

sonarqube:
   stage: test
   script:
       - mvn --settings .ci/settings.xml --batch-mode verify sonar:sonar
        -Dsonar.host.url=$SONARQUBE_URL
        -Dsonar.login=$SONARQUBE_TOKEN
        -Dsonar.branch.name=$CI_COMMIT_REF_NAME
        -Dsonar.branch.target=develop
       - cat target/site/jacoco-ut/index.html
   only:
     - /^feature.*$/
     - develop

deploy_maven:
  stage: deploy
  script:
    - mvn --settings .ci/settings.xml --batch-mode deploy -DperformRelease=true
  artifacts:
    name: "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
    paths:
      - target/*.jar
  when: manual
  only:
    - master

deploy_nexus:
  stage: deploy
  script:
    - mvn --settings .ci/settings.xml --batch-mode -Dmaven.test.skip=true deploy
  artifacts:
    name: "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
    paths:
      - target/*.jar
  when: manual
  only:
    - /^feature.*$/
    - /^release.*$/
    - develop

.auto_devops: &auto_devops |

  function setup_docker() {
    if ! docker info &>/dev/null; then
      if [ -z "$DOCKER_HOST" -a "$KUBERNETES_PORT" ]; then
        export DOCKER_HOST='tcp://localhost:2375'
      fi
    fi
  }

before_script:
  - *auto_devops
  - setup_docker
  - sed -i "s/SONATYPE_PASSWORD/$SONATYPE_PASSWORD/g" .ci/settings.xml
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN code.route360.net:4567
