image: code.route360.net:4567/docker/general-image/service/psql9.6:latest

cache:
  key: "mvn"
  paths:
    - .m2/

services:
  - docker:dind

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2"

stages:
  - analyse
  - test
  - deploy

analyse_feature:
   stage: analyse
   tags:
     - kubernetes
   script:
     - sed -i 's/SONATYPE_PASSWORD/$SONATYPE_PASSWORD/g' settings.xml
     - mvn --settings settings.xml --batch-mode -DskipTests verify sonar:sonar
       -Dsonar.host.url=$SONARQUBE_URL
       -Dsonar.login=$SONARQUBE_TOKEN
       -Dsonar.branch.name=$CI_COMMIT_REF_NAME
       -Dsonar.branch.target=develop
       -Dsonar.analysis.mode=preview
       -Dsonar.gitlab.api_version=v4
       -Dsonar.gitlab.commit_sha=$CI_COMMIT_SHA
       -Dsonar.gitlab.ref_name=$CI_COMMIT_REF_NAME
       -Dsonar.gitlab.project_id=$CI_PROJECT_ID
       -Dsonar.gitlab.url=$GITLAB_URL
       -Dsonar.gitlab.user_token=$GITLAB_TOKEN
       -Dsonar.gitlab.query_max_retry=100
       -Dsonar.gitlab.query_wait=10000
     - mvn --settings settings.xml --batch-mode verify sonar:sonar
       -Dsonar.host.url=$SONARQUBE_URL
       -Dsonar.login=$SONARQUBE_TOKEN
       -Dsonar.branch.name=$CI_COMMIT_REF_NAME
       -Dsonar.branch.target=develop
       -Dsonar.gitlab.api_version=v4
       -Dsonar.gitlab.commit_sha=$CI_COMMIT_SHA
       -Dsonar.gitlab.ref_name=$CI_COMMIT_REF_NAME
       -Dsonar.gitlab.project_id=$CI_PROJECT_ID
       -Dsonar.gitlab.url=$GITLAB_URL
       -Dsonar.gitlab.user_token=$GITLAB_TOKEN
       -Dsonar.gitlab.query_max_retry=100
       -Dsonar.gitlab.query_wait=10000
     - cat target/site/jacoco-ut/index.html
   when: manual
   only:
     - /^feature.*$/

sonarqube:
   stage: test
   tags:
       - kubernetes
   script:
       - mvn --settings settings.xml --batch-mode verify sonar:sonar
           -Dsonar.host.url=$SONARQUBE_URL
           -Dsonar.login=$SONARQUBE_TOKEN
           -Dsonar.branch.name=develop
           -Dsonar.branch.target=master
           -Dsonar.gitlab.api_version=v4
           -Dsonar.gitlab.commit_sha=$CI_COMMIT_SHA
           -Dsonar.gitlab.ref_name=$CI_COMMIT_REF_NAME
           -Dsonar.gitlab.project_id=$CI_PROJECT_ID
           -Dsonar.gitlab.url=$GITLAB_URL
           -Dsonar.gitlab.user_token=$GITLAB_TOKEN
           -Dsonar.gitlab.query_max_retry=100
           -Dsonar.gitlab.query_wait=10000
   only:
     - develop

deploy_feature:
  stage: deploy
  script:
    - mvn --settings settings.xml clean release:prepare -Darguments="-DskipTests"
    - mvn --settings settings.xml clean release:perform -Darguments="-DskipTests"
  artifacts:
       name: "${CI_JOB_NAME}_${CI_COMMIT_REF_NAME}"
       paths:
         - target/*.jar

.auto_devops: &auto_devops |

  function setup_docker() {
    if ! docker info &>/dev/null; then
      if [ -z "$DOCKER_HOST" -a "$KUBERNETES_PORT" ]; then
        export DOCKER_HOST='tcp://localhost:2375'
      fi
    fi
  }

before_script:
  - *auto_devops
  - setup_docker
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN code.route360.net:4567
  ##
  ## Install ssh-agent if not already installed, it is required by Docker.
  ## (change apt-get to yum if you use an RPM-based image)
  ##
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'

  ##
  ## Run ssh-agent (inside the build environment)
  ##
  - eval $(ssh-agent -s)

  ##
  ## Add the SSH key stored in SSH_PRIVATE_KEY variable to the agent store
  ## We're using tr to fix line endings which makes ed25519 keys work
  ## without extra base64 encoding.
  ## https://gitlab.com/gitlab-examples/ssh-private-key/issues/1#note_48526556
  ##
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null

  ##
  ## Create the SSH directory and give it the right permissions
  ##
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - git config --global user.email "daniel.gerber@targomo.com"
  - git config --global user.name "Daniel Gerber"